body{
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Lato', sans-serif;
}

body main {
  max-width: 80%;
  height: auto;
  margin: auto;
}

body main h1 {
  text-align: center;
  margin: 50px auto;
  font-size: 3rem;
}

body main #play-ground {
  background-color: rgb(256, 256, 256);
  width: 256px;
  height: 256px;
  border: 2px solid black;
  margin: 5em auto;
}

body main p {
  text-align: center;
  font-size: 1.7rem;
}